.toolbar {
  display: flex;
  background-color: #F6EADE;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 86;
}

.toolbar ul {
  display: flex;
  padding: 20px;
}

.toolbar ul li {
  display: flex;
  list-style: none;
  padding: 20px;
  font-size: 2.6rem;
}

.toolbar ul li:nth-child(3) {
  color: rgb(36, 32, 32);
  background-color:rgb(230, 65, 65);
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  font-size: 3.5rem;
  border: 2px solid rgb(2, 0, 0);
  animation: mio 1s infinite ease-in-out;
}

@keyframes mio {
  20% {
    background-color:rgb(230, 65, 65);
  }
  40% {
    background-color:rgb(87, 59, 59);
  }
  70%{
    background-color:rgb(110, 62, 62);
  }
  100% {
    background-color:rgb(230, 65, 65);
  }
}
